### IntelliJ IDEA ###
.idea/
.idea/shelf/
.idea/workspace.xml
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml
.idea/sqldialects.xml
!.idea/codeStyles
*.iws
*.iml
*.ipr

### Frontend ###
/frontend/**/dashboard/
/frontend/**/xampp/

### Backend ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.mvn/timing.properties
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/target
backend/buildNumber.properties
backend/dependency-reduced-pom.xml
backend/pom.xml.next
backend/pom.xml.releaseBackup
backend/pom.xml.tag
backend/pom.xml.versionsBackup
backend/release.properties
/backend/.mvn/wrapper/maven-wrapper.jar
/.jpb/
